Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519
    IgnoreUnknown UseKeychain
    UseKeychain yes

{{- if eq .chezmoi.os "linux" }}

Host nas
    HostName 192.168.1.216
    User dsifford
    Port 51222
    RequestTTY force
    RemoteCommand cd /volume1 && bash -l

Host pi
    HostName 192.168.1.225
    User dsifford

{{- end }}

Host github.com
    HostName github.com
    User git

Host gitlab.com
    HostName gitlab.com
    User git

{{- if eq .chezmoi.hostname "MacBookPro" }}

Include /Users/dsifford/.config/colima/ssh_config

Host cloud-dev
    ProxyCommand sh -c "/Users/dsifford/.cde/connect_to_cde.sh"
    StrictHostKeyChecking no
    User admin
    # need to alleviate aws scm rate limit
    Compression yes
    # allow the github keys on the remote CDE
    AddKeysToAgent yes
    UseKeychain yes
    ForwardAgent yes

{{- end }}

# vim: ft=sshconfig
