{{- if eq .machine "rippling-macbook" }}

if command -v direnv > /dev/null; then
    eval "$(direnv hook bash)"
fi

if command -v ripples > /dev/null; then
    eval "$(ripples completion bash)"
fi

{{- end }}
